.toggle-switch {
  margin: 0;
  position: relative;
  display: block;

  input {
    display: none;

    & + label {
      margin: 0;
      height: 48px;
      
      &::before,
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 999px;
        
        cursor: pointer;
      }

      &::before {
        width: 64px;
        height: 32px;
        outline: 1px solid var(--input-stroke);
        border: 2px solid transparent;
        background-color: var(--input-base);
        transition: all 0.3s ease;
      }

      &::after {
        width: 24px;
        height: 24px;
        left: 4px;
        background-color: var(--input-stroke);
        transition: all 0.45s ease;
      }

      span {
        position: absolute;
        display: block;
        top: 50%;
        left: 80px;
        transform: translateY(-50%);

        &::before,
        &::after {
          font: var(--body-sm);
          color: var(--text-heading);
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
        }

        &::before {
          content: "Escuro";
          transition: all 0.3s ease 0.2s;
        }

        &::after {
          content: "Claro";
          opacity: 0;
          visibility: hidden;
          transition: all 0.3s ease;
          transform: translate(0, -50%);
        }
      }
    }

    &:checked + label {
      &::before {
        background: var(--brand-light);
      }

      &::after {
        transform: translate(32px, -50%);
        background-color: var(--text-heading);
      }

      span {
        &::before {
          opacity: 0;
          transition: all 0.3s ease;
          transform: translate(0, -50%);
        }

        &::after {
          opacity: 1;
          visibility: visible;
          transform: translate(0, -50%);
          transition: all 0.3s ease 0.2s;
        }
      }
    }
  }
}

.terms-wrapper {
  border-top: 1px solid var(--input-stroke);
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  .terms {
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;

    & [type="checkbox"] {
      all: unset;
      position: absolute;
      inset: 0;
      
      cursor: pointer;
    }
    
    .checkbox-image {
      flex: 0 0 20px;
      height: 20px;
      border: 2px solid transparent;
      outline: 1px solid var(--input-stroke);
      border-radius: 4px;
      background-color: var(--shape-button);

    }

    &:hover {
      .checkbox-image {
        border: 2px solid transparent;
        outline: 1px solid var(--input-placeholder);
        
      }
    }
    
    &:has(:checked) .checkbox-image {
      background-image: url(../../assets/icons/check.svg);
      background-repeat: no-repeat;
      background-size: cover;

      border: 2px solid transparent;
      outline: 1px solid var(--brand-light);
    }

    & strong {
      font-weight: 500;
      color: var(--brand-light);
      text-decoration: underline;
    }

    label {
      margin: 0;
    }
  }
}