.dropzone {
  position: relative;
  overflow: hidden;
  height: 2.9375rem;

  & input {
    width: 100%;
    max-height: 2.5rem;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0;
    outline: none;
    position: absolute;
    top: 0.6875rem;
    font: var(--body-md);
    color: var(--input-placeholder);
    background-color: transparent;
    z-index: 0;

    cursor: pointer;
  }

  & input:focus {
    border-color: transparent;
    outline-color: transparent;
    cursor: pointer;
  }

  & label {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin: 0;

    cursor: pointer;

    & div {
      width: 8.4375rem;
      height: 2.5rem;
      margin: 0;
      border: none;
      background-color: var(--shape-button);
      border-radius: 0.5rem;

      display: flex;
      align-items: center;
      justify-content: center;

      font: var(--body-sm);
      color: var(--text-heading);
      font-weight: 500;

      z-index: 1;

      & img {
        width: 1rem;
        height: 1rem;
        
        margin-right: 0.5rem;
      }

      &:hover {
        background-color: var(--shape-hover);
      }
    }

    & span {
      display: none;
      cursor: pointer;
      font: var(--body-md);
      color: var(--input-placeholder);
    }
  }
}

@-moz-document url-prefix() {
  .dropzone {
    & input {
      top: 0.5625rem;
      right: -3.125rem;
    }
  }
}