.radio-wrapper {
  width: 100%;
  height: 3rem;
  appearance: none;
  background-color: var(--input-base);
  border-radius: 0.5rem;
  border: 2px solid transparent;
  outline: 1px solid var(--input-stroke);

  padding: 0.25rem 0.3125rem;
}

.radio-inner {
  position: relative;
  z-index: 0;

  input {
    border: none;
    outline: none;
  }
}

.radio-inner {
  input {
    padding: 0;
    border-radius: 0.25rem;
    
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;

    cursor: pointer;
  }

  label {
    margin: 0;
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    left: 2.625rem;
  
    font: var(--body-sm);
  
    cursor: pointer;
  }

  .radio-image {
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1.125rem;
    background-size: cover;
    z-index: 2;
  
    cursor: pointer;
  }

  .presential-image {
    background-image: url(../../assets/icons/building-default.svg);
  }
  
  .online-image {
    background-image: url(../../assets/icons/video-default.svg);
  }

  &:hover, 
  &:focus-within, 
  &:has(:checked) {
    input {
      background-color: var(--shape-button);
    }

    label {
      font-weight: 600;
    }
  }

  &:has(:checked) {
    .presential-image {
      background-image: url(../../assets/icons/building-actived.svg);
    }

    .online-image {
      background-image: url(../../assets/icons/video-actived.svg);
    }
  }
}

.customization {
  .radio-wrapper {
    height: auto;
    background-color: initial;
    border-radius: initial;
    border: none;
    outline: none;
    padding: 0;

    display: flex;
    gap: 0.75rem;

      input {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 999px;
      outline: 2px solid var(--shape-button);
      border: 0.25rem solid var(--shape-button);

      cursor: pointer;

      &:hover, 
      &:focus-within, 
      &:has(:checked) {
        outline: 3px solid var(--brand-light);
      }
    }
  }

  .radio-wrapper:has(.radio-inner) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8.375rem, 1fr));
    gap: 0.5rem;

    .radio-inner {
      outline: 1px solid var(--input-stroke);
      border: 2px solid transparent;
      border-radius: 0.5rem;

      background-color: var(--shape-button);
      padding: 0.25rem 0.25rem 0.5rem;
      
      display: grid;
      justify-content: center;

      position: relative;
      cursor: pointer;

      input {
        width: 100%;
        height: 100%;
        max-height: 100%;
        border: none;
        outline: none;
        background-color: transparent;
      }

      label {
        position: initial;
        transform: none;
        text-align: center;
        margin-top: 0.5rem;
      }

      &:hover, &:focus-within {
        background-color: var(--shape-hover);
        
        label {
          font-weight: 400;
        }
      }
    
      &:has(:checked) {
        border: 2px solid var(--brand-light);
      }
    }
  }
}