aside {
  color: var(--text-heading);
  position: relative;
  height: 36.6875rem;
  margin-inline: auto;
  
  & .background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.75rem;

    position: absolute;
    inset: 0;

    z-index: -1;
  }
  
  & .logo {
    width: auto;
    height: 3rem;
  }

  & h1 {
    margin-top: 1rem;
    font: var(--font-logo);
    color: var(--pink);
  }

  & p {
    margin-top: 0.25rem;
    font: var(--body-md);
    font-weight: 300;
  }
}

@media (width >= 80em) {
  aside {
    height: initial;
    margin-inline: initial;
    
    & .background {
      height: initial;
    }
  }
}