@import url(fields/index.css);
form {
  display: flex;
  flex-direction: column;
  gap: 48px;

  margin-top: 40px;
}

fieldset {
  border: none;

  display: grid;
  gap: 16px;
}

legend {
  font: var(--heading-sm);
  color: var(--text-heading);

  display: flex;
  align-items: center;
  gap: 12px;

  margin-bottom: 24px;

  img {
    width: 24px;
    height: 24px;
  }
}