#app {
  display: flex;
  flex-direction: column-reverse;
  padding: 1.25rem;
  gap: 1.25rem;

  overflow: hidden;
}

body {
  background: var(--shape-background);
}

main {
  background-color: var(--shape-body);
  padding: 1.5rem;
  border-radius: 0.75rem;
}

aside {
  padding: 1.5rem;
}

@media (width >= 80em) {
  #app {
    height: 100vh;

    display: grid;
    grid-template-columns: 25rem 1fr;
    grid-template-areas: 'aside main';
  }

  main {
    grid-area: main;
    padding: 5rem 8.125rem;
  }
  
  aside {
    grid-area: aside;
    padding: 2rem;
  }
}